conky.config = {
	lua_load = "$HOME/.config/conky/loop_cpus.lua",
    alignment = 'bottom_right',
    background = yes,
    border_width = 1,
    cpu_avg_samples = 2,
    default_color = 'white',
    default_outline_color = 'white',
    default_shade_color = 'white',
	default_bar_width = 60,
	default_bar_height = 8,
    double_buffer = true,
    draw_borders = false,
    draw_graph_borders = true,
    draw_outline = false,
    draw_shades = false,
    extra_newline = false,
    font = 'JetBrains Mono:size=9:bold',
    gap_x = 4,
    gap_y = 4,
    minimum_height = 5,
    minimum_width = 5,
	maximum_width = 4000,
	pad_percents = 3,
	use_spacer = 'left',
    net_avg_samples = 2,
    no_buffers = true,
    out_to_console = false,
    out_to_ncurses = false,
    out_to_stderr = false,
    out_to_x = true,
    own_window = true,
    own_window_class = 'Conky',
    own_window_type = 'override',
    show_graph_range = false,
    show_graph_scale = false,
    stippled_borders = 0,
	border_inner_margin = 10,
    update_interval = 1.0,
    uppercase = false,
    use_spacer = 'none',
    use_xft = true,
	template0 = [[${execi 1 sensors | grep \1 | tr -s " " | cut -d' ' -f 2 | cut -d'.' -f 1 | cut -c2-}]]
}

conky.text = [[
	
	${hr}
	${color grey}Info:${color} ${nodename} ${kernel}
	${color grey}Processes:${color} ${processes} ${color grey}Running:${color} ${running_processes} ${color grey}Uptime:${color} ${uptime_short}
	${hr}
	${color grey}CPU:${color}${alignr} ${execi 1 cat /proc/cpuinfo | grep 'model name' | cut -c14- | head -n 1}
	${color grey}Average:${color} ${template0 Tctl}C ${color grey}(${color}${template0 Tccd1}${color grey}|${color}${template0 Tccd2}${color grey})${color}C${color grey}${alignr} Util: ${color}${cpu cpu0}% ${alignr}${voffset 2}${cpubar cpu0}${voffset -2}
	${lua_parse conky_loop_cpus 2 false true true}
	${hr}
	${color grey}Model:${color}${alignr}${nvidia modelname 0}
	${color grey}Util:${color}${alignr}${nvidia gpuutil 0}% ${alignr}${nvidia gputemp 0}C ${alignr}${voffset 2}${nvidiabar gpuutil 0}${voffset -2}
	${color grey}Freq:${color}${alignr}${nvidia gpufreqcur 0}MHz ${alignr}${voffset 2}${nvidiabar gpufreqcur 0}${voffset -2}
	${color grey}Mem:${color}${alignr}${nvidia memfreqcur 0}MHz ${alignr}${voffset 2}${nvidiabar memutil 0}${voffset -2}
	${color grey}Fan:${color}${alignr}${nvidia fanspeed 0}RPM ${alignr}${voffset 2}${nvidiabar fanlevel 0}${voffset -2}
	${color grey}Driver:${color}${alignr}${nvidia driverversion 0}
	${hr}
	${color grey}RAM:${color}${alignr}${mem}/${memmax} ${alignr}${voffset 2}${membar}${voffset -2}
	${color grey}Swap:${color}${alignr}${swap}/${swapmax} ${alignr}${voffset 2}${swapbar}${voffset -2}
	${hr}
	${color grey}File systems:
	${offset 16}${color grey}/${color}root${alignr}${fs_used /}/${fs_size /} ${alignr}${voffset 2}${fs_bar /}${voffset -2}
	${offset 16}${color grey}/${color}home${alignr}${fs_used /home}/${fs_size /home} ${alignr}${voffset 2}${fs_bar /home}${voffset -2}
	${hr}
	${color grey}Network:
	${offset 16}${color grey}Ethernet (${color}enp7s0${color grey}):
	${offset 32}${color grey}Address: ${color}${alignr}${addr enp7s0}
	${offset 32}${color grey}Up: ${color}${alignr}${upspeedf enp7s0} KiB/s
	${offset 32}${color grey}Down: ${color}${alignr}${downspeedf enp7s0} KiB/s
	${offset 16}${color grey}Wireless (${color}wlp6s0${color grey}):
	${offset 32}${color grey}Address: ${color}${alignr}${addr wlp6s0}
	${offset 32}${color grey}Up: ${color}${alignr}${upspeedf wlp6s0} KiB/s
	${offset 32}${color grey}Down: ${color}${alignr}${downspeedf wlp6s0} KiB/s
	${hr}	
]]
